* {
    margin: 10px;
}

main {
    background-color: rgba(141, 400, 622, 221, 00.264);
    padding: 10px;

}



hr {
    border-top: 2px solid orange !important;
}

.div-cotizar {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.error-seguros {
    padding: 20px;
    text-align: center;
    background-color: rgb(0, 255, 204);
    color: rgb(190, 16, 16);
    border-radius: 12px;
}

button.button.button-outline {
    font-size: x-large !important;
}

button.button.button-outline:active {
    background: pink !important;
}